<nav>
    <ul>
        <li><strong>Power Rolls!</strong></li>
    </ul>
    <ul>
        <li>
            <a (click)="toggleTheme()" href="javascript:;">
                <img class="theme-icon" [ngClass]="{'invert': theme() === 'dark'}"
                    src="{{theme() === 'dark' ? 'moon.svg' : 'light.svg'}}"
                    alt="{{theme() === 'dark' ? 'dark theme' : 'light theme'}}">
            </a>
        </li>
    </ul>
</nav>

<div class="content">
    <div class="content__forms">
        <details>
            <summary>Characteristics</summary>
            <form [formGroup]="characteristicsForm" class="content__forms__characteristics">
                <fieldset>
                    <label for="might">Might</label>
                    <input formControlName="might" id="might" name="might" type="number" min="-5" max="5" />
                    <label for="agility">Agility</label>
                    <input formControlName="agility" id="agility" name="agility" type="number" min="-5" max="5" />
                    <label for="reason">Reason</label>
                    <input formControlName="reason" id="reason" name="reason" type="number" min="-5" max="5" />
                    <label for="intuition">Intuition</label>
                    <input formControlName="intuition" id="intuition" name="intuition" type="number" min="-5" max="5" />
                    <label for="presence">Presence</label>
                    <input formControlName="presence" id="presence" name="presence" type="number" min="-5" max="5" />
                </fieldset>
            </form>
        </details>
        <hr />
        <form (submit)="onSubmit($event)" [formGroup]="rollOptionsForm" class="content__forms__roll">
            <details open>
                <summary>Power Roll Options</summary>
                <fieldset>
                    <label for="characteristic">Characteristic</label>
                    <select formControlName="characteristic" id="characteristic" name="characteristic" [value]="">
                        <option value="null">None</option>
                        <option value="Might">Might</option>
                        <option value="Agility">Agility</option>
                        <option value="Reason">Reason</option>
                        <option value="Intuition">Intuition</option>
                        <option value="Presence">Presence</option>
                    </select>
                    <div class="content__forms__roll__modifiers">
                        <label>Edges</label>
                        <app-aura-icon (click)="toggleEdge(1)" [selected]="rollOptionsForm.value.numEdges! >= 1"
                            iconSrc="edge.svg" iconAlt="1 edge"></app-aura-icon>
                        <app-aura-icon (click)="toggleEdge(2)" [selected]="rollOptionsForm.value.numEdges! === 2"
                            iconSrc="edge.svg" iconAlt="2 edges"></app-aura-icon>
                    </div>
                    <div class="content__forms__roll__modifiers">
                        <label>Banes</label>
                        <app-aura-icon (click)="toggleBane(1)" [selected]="rollOptionsForm.value.numBanes! >= 1"
                            iconSrc="bane.svg" iconAlt="1 bane"></app-aura-icon>
                        <app-aura-icon (click)="toggleBane(2)" [selected]="rollOptionsForm.value.numBanes! === 2"
                            iconSrc="bane.svg" iconAlt="2 banes"></app-aura-icon>
                    </div>
                </fieldset>
            </details>
            <button type="submit">Roll!</button>
        </form>
    </div>
    <div class="content__dice" style="width: 100%; height: 50vh">
        <div class="content__dice__box">
        </div>
        <div #history class="content__dice__history">
            @for (roll of rollHistory(); track roll) {
                <app-roll-card [roll]="roll"></app-roll-card>
            }
        </div>
    </div>
</div>
<router-outlet />