<nav>
    <ul>
        <li><strong>Power Rolls!</strong></li>
    </ul>
    <ul>
        <li>
            <a (click)="toggleTheme()" href="javascript:;">
                @if(theme() === 'dark') {
                    <img class="theme-icon" style="filter: invert(1)" src="moon.svg" alt="dark theme">
                }
                @else {
                    <img class="theme-icon" src="light.svg" alt="light theme">
                }
            </a>
        </li>
    </ul>
</nav>

<div class="content">
    <div>
        <details>
            <summary>Characteristics</summary>
            <form [formGroup]="characteristicsForm">
                <fieldset>
                    <label for="might">Might</label>
                    <input formControlName="might" id="might" name="might" type="number" min="-5" max="5" />
                    <label for="agility">Agility</label>
                    <input formControlName="agility" id="agility" name="agility" type="number" min="-5" max="5" />
                    <label for="reason">Reason</label>
                    <input formControlName="reason" id="reason" name="reason" type="number" min="-5" max="5" />
                    <label for="intuition">Intuition</label>
                    <input formControlName="intuition" id="intuition" name="intuition" type="number" min="-5" max="5" />
                    <label for="presence">Presence</label>
                    <input formControlName="presence" id="presence" name="presence" type="number" min="-5" max="5" />
                </fieldset>
            </form>
        </details>
    
        <form (submit)="onSubmit($event)" [formGroup]="rollOptionsForm">
            <hr />
            <fieldset>
                <legend>Power Roll Options</legend>
                <label for="characteristic">Characteristic</label>
                <select formControlName="characteristic" id="characteristic" name="characteristic">
                    <option value="none"></option>
                    <option value="might">Might</option>
                    <option value="agility">Agility</option>
                    <option value="reason">Reason</option>
                    <option value="intuition">Intuition</option>
                    <option value="presence">Presence</option>
                </select>
                <!-- TODO: Make a component that pads these icons and gives more room for styling to show the selected / deselected state. Kinda hard to see if the edge is enabled or not. -->
                <!-- or find a better edge icon -->
                <div class="modifiers">
                    <label>Edges</label>
                    <div (click)="toggleEdge(1)" [ngClass]="{selected: rollOptionsForm.value.numEdges! >= 1}" class="edge"><img src="edge.svg" alt="1 edge"/></div>
                    <div (click)="toggleEdge(2)" [ngClass]="{selected: rollOptionsForm.value.numEdges! === 2}"class="edge"><img src="edge.svg" alt="2 edges"/></div>
                </div>
                <div class="modifiers">
                    <label>Banes</label>
                    <div (click)="toggleBane(1)" [ngClass]="{selected: rollOptionsForm.value.numBanes! >= 1}"class="bane"><img src="bane.svg" alt="1 bane"/></div>
                    <div (click)="toggleBane(2)" [ngClass]="{selected: rollOptionsForm.value.numBanes! === 2}"class="bane"><img src="bane.svg" alt="2 banes"/></div>
                </div>
            </fieldset>
            <button type="submit">Roll!</button>
        </form>    
    </div>
    <div>
        <div class="dice-box">
        </div>
        <div class="history">
            @for (roll of rollHistory(); track roll) {
                @if (roll.rollSum >= 19) {
                    <article>Critical Roll {{roll.sum}}. Power Tier 3</article>
                }
                @else {
                    <article>{{roll.sum}}. Power Tier {{roll.tier}}</article>
                }
            }
        </div>
    </div>
</div>
<router-outlet />