@use '../styles.scss';

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--pico-background);
    color: var(--pico-foreground);
}

.theme-icon {
    height: 20px;
    width: 20px;
    transition: all var(--pico-transition);
    &.invert {
        filter: invert(1);
    }
}

.content {
    display: flex;
    gap: 2rem;

    @media screen and (max-width: styles.$mobile-width) {
        flex-flow: column;
        gap: 1rem;
    }

    &__forms {
        min-width: 210px;
        flex-basis: 20%;

        &__roll {
            &__modifiers {
                display: flex;
                gap: 2rem;
                justify-content: space-evenly;
                align-items: center;
                padding: var(--pico-block-spacing-horizontal) var(--pico-block-spacing-vertical);
                margin-bottom: var(--pico-spacing);
            }
        }
    }

    &__dice {
        flex-basis: 80%;
        height: 80vh;

        @media screen and (max-width: styles.$mobile-width) {
            height: 50vh;
        }

        &__box {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 45%;
            width: 100%;
            margin-bottom: var(--pico-spacing);
            border: 1px solid var(--pico-contrast);
        }

        &__history {
            height: 45%;
            overflow-y: scroll;
            padding: var(--pico-spacing)
        }
    }
}

#characteristic-help {
    margin-bottom: 0;
}