/* You can add global styles to this file, and also import other style files */
@use "@picocss/pico/scss" with (
    $theme-color: "violet",
);

:root {
    --pico-block-spacing-vertical: 0.5rem;
    --pico-spacing: 0.5rem;
    --pico-typography-spacing-vertical: 0.5rem;
    --pico-form-element-spacing-vertical: 0.5rem;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    height: auto;
    flex-grow: 1;
}

canvas {
    height: 100%;
    width: 100%;
}

footer {
    margin: 0 var(--pico-spacing);
    border-top: solid 1px var(--pico-muted-border-color);
}

$mobile-width: 765px